* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2E2E2E;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    font-weight: 300;
    color: #E0E0E0;
    animation: fadeInBackground 1.5s ease-out;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
}

.logo img {
    height: 200px;
    width: auto;
    margin-right: 30px;
}

.search-bar {
    width: 500px;
    padding: 12px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid #007bff;
    margin-left: 150px;
    font-weight: 300;
    color: #E0E0E0;
    background-color: #333;
}

section {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid #007bff;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.movie-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.movie-card {
    width: 200px;
    height: 300px;
    background-color: #444;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.5);
}

.genre-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 25px;
    font-weight: 600;
    transition: color 0.2s ease;
}

.genre-links a:hover {
    color: #007bff;
}

.genre-links {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .movie-cards {
        flex-direction: column;
        align-items: center;
    }

    .movie-card {
        width: 90%;
        max-width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }

    .search-bar {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 100%;
        max-width: none;
        height: auto;
    }

    .search-bar {
        width: 100%;
        margin-left: 0;
    }
}

@keyframes fadeInBackground {
    0% {
        background-color: #121212;
    }
    100% {
        background-color: #2E2E2E;
    }
}
